<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{ escape(handler.settings["yushu_title"]) }}</title>
		{% block head %}{% end %}
	</head>
	<body>
		<div id="body">
			<div id="header">
				<div style="float:right">
					{% if current_user %}
					<a href="/auth/logout?next={{ url_escape(request.uri) }}">{{ _("sign out") }}</a>
					{% else %}
					  {% raw _('<a href="%(url)s">Sign in</a> to compose/edit') % {"url": "/auth/login?next=" + url_escape(request.uri)} %}
					{% end %}
				</div>
				<h1><a = href="/">{{ escape(handler.settings["yushu_title"]) }}</a></h1>
			</div>
			<div id="content">{% block body %}{% end %}</div>
		</div>
		{% block bottom %}{% end %}
	</body>
</html>
