<!DOCTYPE html>
<html>
<head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1" />
       <script src="{{static_url("js/jquery-3.1.1.min.js")}}"></script>
       <script src="{{static_url("js/script.js")}}"></script>
       <title>www.yushu.com</title>
</head>
<body>
      <h2>matlab</h2>
      <form method="POST" action="/matlab">
            <p><span>Mathematical expression:</span><input type="yexy" name="MME" /></p>
      </form>
</body>
</html>
